
body {
    margin: 0;
    font-family: 'roboto';
}

.full {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.overlay {
    flex-grow: 1;
    background-color: grey;
}

/* this is the hero */
.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    flex-grow: 1;
}

.hero {
    width: 75vw;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    min-height: 45px;
    max-height: 45px;
}

.header-logo {
    flex-grow: 1;
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.h-link {
    margin-left: 15px;
}

.intro {
    flex: 1;
    flex-grow: 1;
    color: white;
    display: flex;
    min-height: 300px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.intro-sub {
    flex-grow: 1;
    display: flex;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 375px;

}

.h-link , .text-text {
    font-size: 18px;
    color: #E5E7EB;


}

.hero-text-sub  {
    flex: 1;
    display: flex;
    
}

.hero-text-sub p {
    margin: 0px;
}

.hero-text-heading {
    display: flex;
    align-items: flex-end;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-text-signup {
    flex: 1;
    display: flex;
    
}

.hero-image {
    background-color: grey;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    margin-left: 60px;
    max-width: 500px;

}
.signup-button {
    background-color: #3882F6;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    min-width: 100px;
    max-width: 100px;
    min-height: 25px;
    max-height: 25px;
}

/* this is the information section with images  */
.big-second {
    background-color: white;
    min-height: 300px;
}

.big-second h2 {
    text-align: center;
}

.main-second {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.info {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
}
.image-caption {
    margin-right: 3vw;
    width: 100px;
}
.image {
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.caption {
    border: 3px solid white;
    font-size: 8px;
    margin-right: 3.5;
}

/* this is the third section with the quote box */

.third {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}

.quote {
    font-size: 22px;
    font-weight: 100;
    font-style: italic;
}

.author {
    font-size: 18px;
    font-weight: 800;
    color: #1F2937;
}
.quote-box {
    width: 50vw;
    justify-content: center;
}

p.author {
    text-align: right;
}


/* this is the fourth section with the call to action box */

.fourth {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.action-box {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    display: flex;
    width: 75vw;
    min-height: 75px;
    align-items: center;
    justify-content: center;
}

.action-box-sub {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.action-box-call-text {
    align-items: left;
}

.action-box-call-text p {
    margin: 0px 20px;

}

.action-box-sign {
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    min-width: 100px;
    max-width: 100px;
    min-height: 25px;
    max-height: 25px;
    margin-right: 60px;

}

.footer {
    background-color: #1f2937;
    display: flex;
    min-height: 50px;
    max-height: 50px;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
}

