
body {
    margin: 0;
    font-family: 'roboto';
}

.full {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.overlay {
    flex-grow: 1;
    background-color: grey;
}

/* this is the hero */
.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    flex-grow: 1;
}

.hero {
    width: 75vw;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.header-logo {
    flex-grow: 1;
    color: white;
}

.header-links {
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.h-link {
    margin-left: 15px;
}

.intro {
    flex: 1;
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.intro-sub {
    flex-grow: 1;
    display: flex;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: left;

}
.hero-text-sub  {
    flex: 1;
}

.hero-text-signup {
    background-color: #3882F6;
}

.hero-image {
    background-color: grey;
    align-items: center;
    justify-content: center;

}


/* this is the information section with images  */
.big-second {
    background-color: white;
}

.big-second h2 {
    text-align: center;
}

.main-second {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.second-text {

}

.image-caption {
    margin-right: 4vw;
    width: 75px;
}
.image {
    margin-right: 4vw;
    height: 75px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.caption {
    border: 3px solid white;
    font-size: 8px;
    margin-right: 3.5;
}

/* this is the third section with the quote box */

.third {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-box {
    width: 50vw;
    justify-content: center;
}

p.author {
    text-align: right;
}


/* this is the fourth section with the call to action box */

.fourth {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-box {
    background-color: #3882F6;
    color: white;
    display: flex;
}

.action-box-sub {
    flex: 1;
}

.footer {
    background-color: #1f2937;
    display: flex;
    height: 50px;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
}
